*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
   
    background: #888e8f;
}

#search-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
#temp{
    text-align: center;

}
#temp #temp-unit{
  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 1.5rem;
color: #fff;
}
#temp #temp-value{
  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 2rem;
color: #fff;
}
#climate{
  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 2.5rem;
color: #fff;
text-align: center;
}
#location{
  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 2.5rem;
color: #fff;
text-align: center;
}
#temp-icon{
    margin: 1rem;
    width: 40%;
    height: auto;
}
main{
    margin: 20px;
    padding: 20px;
    margin-top: 10px;
    background-color: #507e91;
    border-radius: 15px;
    height: 350px;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 20px 0px rgba(12,12,012,0.2);
}
#search-button{
    margin-left: 5px;
    color: #6d788e;
    text-decoration: none;
    background:rgb(111, 2, 253);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    margin-left: 5xp;
    padding: 11px;
    border: 2px solid #ffffff;
    text-transform: uppercase;
}
#search-button:hover{
    background: #9f1edb;
    color: #fff;
    border: 2px solid #fcfcfc;
transition: all 0.5s ease 0s;
}
#search-input{
    width: 260px;
    overflow: hidden;
    font-size: 20px;
padding: 20px;    color: white;
    background: none;
    border: 1px solid white;
    border-radius: 15px;
height: 37px;
    
}
#search-input::placeholder{
    color: transparent;
}
